/* Define custom colors */
:root {
  --main-bg-color: #ffffff;
  --border-color: black;
  --text-color: #000;
  --button-bg-color: #000;
  --button-text-color: #ffffff;
  --warning-color: rgb(207, 77, 77);
}

/* Style for main and secondary divs */
.main-div, .sec-div {
  border: 2px solid var(--border-color);
  background-color: var(--main-bg-color);
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Common text styling */
.text {
  font-family: 'Quicksand', sans-serif;
  color: var(--text-color);
}

/* Top font size */
.top-font-size {
  font-size: 24px;
}

/* Below font size */
.below-font-size {
  font-size: 20px;
}

/* Padding for spacing */
.fazulki {
  padding-top: 10px;
}

/* Button styling */
.btn {
  background-color: var(--button-bg-color);
  border: 2px solid var(--border-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Button hover effect */
.btn:hover {
  background-color: var(--text-color);
  color: var(--main-bg-color);
}

/* Warning text styling */
.xyz {
  font-size: 12px;
  color: var(--warning-color);
}
